<div ng-controller="todos">
	<div ng-show="pending">Loading...</div>
	<div ng-hide="pending" ng-repeat="todo in todos">
		<span ng-class="{ done : todo.done }">{{todo.name}}</span> | 
		<a href="#/todos/{{todo.id}}">link</a>
		<button ng-click="toggle(todo.id)" ng-disabled="todo.pending">toggle</button>
		<hr />
	</div>
</div>